# Python
__pycache__/
*.py[cod]
*.pyo
.env


# Virtual environment
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# 
dataset/
train.ipynb
add_manual_features.py
merge_datasets.py
linkguardai_cm.png